/* HTML5 Elements */
/* line 2, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block;
}

/* line 3, ../scss/_reset.scss */
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Eric Meyer's Reset CSS */
/* line 19, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 28, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 31, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HTML5 Boilerplate */
/* line 49, ../scss/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 55, ../scss/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* line 56, ../scss/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* line 58, ../scss/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 60, ../scss/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Correct overflow displayed oddly in IE9  */
/* line 63, ../scss/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 65, ../scss/_reset.scss */
label {
  cursor: pointer;
}

/* line 68, ../scss/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 69, ../scss/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 70, ../scss/_reset.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 71, ../scss/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 72, ../scss/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 73, ../scss/_reset.scss */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 74, ../scss/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 75, ../scss/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 1, ../scss/_screen.scss */
::-moz-selection {
  color: #114A80;
  text-shadow: none;
  background-color: #D2DDE9;
}

/* line 2, ../scss/_screen.scss */
::selection {
  color: #114A80;
  text-shadow: none;
  background-color: #D2DDE9;
}

/* line 4, ../scss/_screen.scss */
html {
  background: white;
  -webkit-tap-highlight-color: rgba(31, 86, 144, 0.2);
}

/* line 9, ../scss/_screen.scss */
body {
  padding: 10% 5%;
  background: white;
  border-top: solid 0.4em #114A80;
  font-family: "colfax-web";
  color: #555E68;
  font-size: 15px;
}
@media screen and (min-width: 400px) {
  /* line 9, ../scss/_screen.scss */
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 650px) {
  /* line 9, ../scss/_screen.scss */
  body {
    font-size: 17px;
  }
}
@media screen and (min-width: 900px) {
  /* line 9, ../scss/_screen.scss */
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 1050px) {
  /* line 9, ../scss/_screen.scss */
  body {
    font-size: 19px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 9, ../scss/_screen.scss */
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  /* line 9, ../scss/_screen.scss */
  body {
    font-size: 21px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 9, ../scss/_screen.scss */
  body {
    font-size: 22px;
  }
}

/* line 35, ../scss/_screen.scss */
main {
  margin: 0 auto;
  max-width: 32em;
}

/* line 40, ../scss/_screen.scss */
h1, h2, h3, li, p {
  line-height: 1.6;
}
@media screen and (min-width: 400px) {
  /* line 40, ../scss/_screen.scss */
  h1, h2, h3, li, p {
    line-height: 1.65;
  }
}
@media screen and (min-width: 650px) {
  /* line 40, ../scss/_screen.scss */
  h1, h2, h3, li, p {
    line-height: 1.7;
  }
}
@media screen and (min-width: 900px) {
  /* line 40, ../scss/_screen.scss */
  h1, h2, h3, li, p {
    line-height: 1.8;
  }
}

/* line 44, ../scss/_screen.scss */
h1 {
  font-size: 1.6em;
  font-weight: 700;
  color: #114A80;
}

/* line 50, ../scss/_screen.scss */
h2 {
  color: #114A80;
  font-weight: 700;
  font-size: 1.1em;
  margin-top: 2em;
}

/* line 57, ../scss/_screen.scss */
h3 {
  font-weight: 700;
  margin-top: 2em;
  color: #333;
}

/* line 63, ../scss/_screen.scss */
hr {
  border: none;
  border-top: solid 0.15em #ddd;
  margin: 2em 0;
}

/* line 70, ../scss/_screen.scss */
li strong, p strong {
  font-weight: 700;
}
/* line 71, ../scss/_screen.scss */
li em, p em {
  font-style: italic;
}

/* line 77, ../scss/_screen.scss */
p,
figure,
main > ul,
main > ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 82, ../scss/_screen.scss */
a {
  color: #114A80;
  text-decoration: none;
  border-bottom: 0.15em solid #D2DDE9;
  font-weight: 700;
}
/* line 88, ../scss/_screen.scss */
a:hover {
  color: #000000;
  border-bottom-color: #000000;
}

/* line 94, ../scss/_screen.scss */
img {
  display: block;
  max-width: 100%;
  margin: 1em auto;
}

/* line 101, ../scss/_screen.scss */
blockquote {
  border-left: 0.15em solid #DDDDDD;
  padding-left: 1em;
  color: #999;
}

/* line 107, ../scss/_screen.scss */
ul, ol {
  padding-left: 1.4em;
}

/* line 111, ../scss/_screen.scss */
ul {
  list-style-type: square;
}

/* line 115, ../scss/_screen.scss */
ol {
  list-style-type: decimal;
}
