/* HTML5 Elements */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main { display: block; }

audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, main, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* HTML5 Boilerplate */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

img { border: 0; -ms-interpolation-mode: bicubic; }

/* Correct overflow displayed oddly in IE9  */
svg:not(:root) { overflow: hidden; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; *overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }

input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

body.default { border-top-color: #114a80; }

.default h1, .default h2, .default h3 { color: #114a80; }
.default a { color: #114a80; border-bottom-color: rgba(17, 74, 128, 0.25); }

body.jam { border-top-color: #76cc1e; }

.jam h1, .jam h2, .jam h3 { color: #76cc1e; }
.jam a { color: #76cc1e; border-bottom-color: rgba(118, 204, 30, 0.25); }

body.bike { border-top-color: #ca5d25; }

.bike h1, .bike h2, .bike h3 { color: #ca5d25; }
.bike a { color: #ca5d25; border-bottom-color: rgba(202, 93, 37, 0.25); }

html { background: white; }

body { padding: 10% 5%; background: white; border-top: solid 0.4em transparent; font-family: "colfax-web"; color: #555; font-size: 15px; }
@media screen and (min-width: 400px) { body { font-size: 16px; } }
@media screen and (min-width: 650px) { body { font-size: 17px; } }
@media screen and (min-width: 900px) { body { font-size: 18px; } }
@media screen and (min-width: 1050px) { body { font-size: 19px; } }
@media screen and (min-width: 1200px) { body { font-size: 20px; } }
@media screen and (min-width: 1400px) { body { font-size: 21px; } }
@media screen and (min-width: 1600px) { body { font-size: 22px; } }

main { margin: 0 auto; max-width: 32em; }

h1, h2, h3 { line-height: 1.4; }

li, p { line-height: 1.6; }
@media screen and (min-width: 400px) { li, p { line-height: 1.65; } }
@media screen and (min-width: 650px) { li, p { line-height: 1.7; } }
@media screen and (min-width: 900px) { li, p { line-height: 1.8; } }

h1 { font-size: 1.6em; font-weight: 700; }

h2 { font-size: 1.25em; font-weight: 700; margin-top: 2em; }

h3 { font-weight: 700; margin-top: 2em; }

hr { border: none; border-top: solid 0.15em #ddd; margin: 2em 0; }

li strong, p strong { font-weight: 700; }
li em, p em { font-style: italic; }

p, figure, main > ul, main > ol { margin-top: 1em; margin-bottom: 1em; }

a { font-weight: 700; text-decoration: none; border-bottom: 0.15em solid transparent; }
a:hover { color: #000000; border-bottom-color: #000000; }

img { display: block; max-width: 100%; margin: 1em auto; }

blockquote { border-left: 0.15em solid #DDDDDD; padding-left: 1em; color: #999; }

ul, ol { padding-left: 1.4em; }

ul { list-style-type: square; }

ol { list-style-type: decimal; }
