::-moz-selection  { color: #114A80; text-shadow: none; background-color: #D2DDE9; }
::selection       { color: #114A80; text-shadow: none; background-color: #D2DDE9; }

html {
  border-top: solid 6px #114A80;
  background: white;
  -webkit-tap-highlight-color: rgba(31, 86, 144, 0.2);
}
	
body {
  background: transparent;
  font-family: "colfax-web";
  margin: 0 auto;
  margin-bottom: 10%;
  color: #555E68;
  width: 50%;
}

h1 {
  font-size: 29px;
  line-height: 1em;
  font-weight: 700;
  color: #114A80;
  margin-top: 4em;
}

p {
  font-size: 18px;
  line-height: 1.9em;
  margin: 1em 0;
}

a {
  color: #114A80;
  text-decoration: none;
  border-bottom: 3px solid #D2DDE9;
  font-weight: 700;
}

a:hover {
  color: #000000;
  border-bottom-color: #000000;
}

/* < ~1100 - Width */

@media screen and (max-width: 1050px) { body { width: 55%; } }
@media screen and (max-width: 950px)  { body { width: 60%; } }
@media screen and (max-width: 800px)  { body { width: 70%; } }
@media screen and (max-width: 600px)  { body { width: 80%; } }
@media screen and (max-width: 500px)  { body { width: 90%; } }

/* < ~1100 - Type */
@media screen and (max-width: 600px) {
  h1    { font-size: 27px; }
  p     { font-size: 17px; line-height: 1.85; }
}

@media screen and (max-width: 500px) {
  html  { border-top-width: 4px; }

  h1    { margin-top: 3em; font-size: 24px; }
  p     { font-size: 15px; line-height: 1.8; }
  a     { border-bottom-width: 2px; }
}

@media screen and (max-width: 400px) {
  h1    { margin-top: 2em; }
}


/* > ~1100 */

@media screen and (min-width: 1200px) {
  html  { border-top-width: 8px; }

  h1    { font-size: 32px; }
  p     { font-size: 20px; }
}

@media screen and (min-width: 1400px) {
  h1    { font-size: 36px; }
  p     { font-size: 22px; }
}

@media screen and (min-width: 1550px) {
  html  { border-top-width: 10px; }
  body  { max-width: 850px; }

  h1    { font-size: 38px; }
  p     { font-size: 24px; }
}