$accent-colors: ((default, #114A80), (jam, #76cc1e), (bike, #CA5D25));

@mixin accent-color($name, $color) {

  body.#{$name} {
    border-top-color: $color;
  }

  .#{$name} {
    h1, h2, h3 { color: $color; }

    a {
      color: $color;
      border-bottom-color: rgba($color, 0.25);
    }
  }

}

@each $accent-pair in $accent-colors {
  @include accent-color(nth($accent-pair,1), nth($accent-pair,2));
}
	
html {
  background: white;
}

body {
  padding: 10% 5%;

  background: white;
  border-top: solid 0.4em transparent;
  
  font-family: "colfax-web";
  color: #555;
  
  font-size: 15px;
  @media screen and (min-width: 400px)  { font-size: 16px; }
  @media screen and (min-width: 650px)  { font-size: 17px; }
  @media screen and (min-width: 900px)  { font-size: 18px; }
  @media screen and (min-width: 1050px) { font-size: 19px; }
  @media screen and (min-width: 1200px) { font-size: 20px; }
  @media screen and (min-width: 1400px) { font-size: 21px; }
  @media screen and (min-width: 1600px) { font-size: 22px; }
}

@mixin line-height($factor: 1) {
  line-height: $factor*1.6;
  @media screen and (min-width: 400px) { line-height: $factor*1.65; }
  @media screen and (min-width: 650px) { line-height: $factor*1.7; }
  @media screen and (min-width: 900px) { line-height: $factor*1.8; }
}

main {
  margin: 0 auto;
  max-width: 32em;
}

h1, h2, h3 {
  line-height: 1.4;
}

li, p {
  @include line-height();
}

h1 {
  font-size: 1.6em;
  font-weight: 700;
}

h2 {
  font-size: 1.25em;
  font-weight: 700;
  margin-top: 2em;
}

h3 {
  font-weight: 700;
  margin-top: 2em;
}

hr {
  border: none;
  border-top: solid 0.15em #ddd;
  margin: 2em 0;
}

li, p {
  strong  { font-weight: 700; }
  em      { font-style: italic; }
}

p, 
figure,
main > ul,
main > ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  font-weight: 700;
  text-decoration: none;
  border-bottom: 0.15em solid transparent;

  &:hover {
    color: #000000;
    border-bottom-color: #000000;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 1em auto;
}


blockquote {
  border-left: 0.15em solid #DDDDDD;
  padding-left: 1em;
  color: #999;
}

ul, ol {
  padding-left: 1.4em;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}